@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Layout/JustLayout.cshtml";
}


<div class="col-md-6">
    <label for="inputAccount" class="form-label">Account</label>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
</div>

<button type="button" class="btn btn-primary" style="margin-top: 20px; margin-left:20px;">Đăng Nhập</button>
