
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/JustLayout.cshtml";
}

<div class="super_container">
    <div class="single_product">
        <div class="container-fluid" style=" background-color: #fff; padding: 20px;">
            <div class="row">
                <div class="col-lg-5">
                    <div class="image_selected"><img src="~/Content/Img/ip13nen.jpg" alt="balo" style="width:100%"> </div>
                </div>
                <div class="col-lg-7">
                    <div class="product_description">
                        
                        <div class="product_name">Iphone 13</div>
                        <div class="product-rating"><span class="badge badge-success"><i class="fa fa-star"></i> 4.5 Star</span> <span class="rating-review">35 Ratings & 45 Reviews</span></div>
                        <div> <span class="product_price">22.000$</span></div>
                        <hr class="singleline">
                        <div>
                            <span class="product_info">
                                Quá ngon
                            </span>

                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="br-dashed">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-3"> <img src="https://img.icons8.com/color/48/000000/price-tag.png"> </div>
                                            <div class="col-md-9 col-xs-9">
                                                <div class="pr-info"> <span class="break-all">Get 5% instant discount + 10X rewards RENTOPC</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7"> </div>
                            </div>

                        </div>

                        <hr class="singleline">
                        <div class="order_info d-flex flex-row">
                            <form action="#">
                        </div>
                        <div class="row">
                            <div class="col-xs-6" style="margin-left: 13px;">
                                <div class="product_quantity">
                                    <span>QTY: </span> <input id="quantity_input" type="text" pattern="[0-9]*" value="1">
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary shop-button" style="margin-left:10px; margin-top:10px">Add to Cart</button> <button type="button" style="margin-left:10px; margin-top:10px" class="btn btn-success shop-button">Buy Now</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
