@{ ViewBag.Title = "Contact";
                Layout = "~/Views/Layout/JustLayout.cshtml"; }


<!-- list product -->
<div class="container">
    <div class="row mt-5">
        <h2 class="list-product-title">Sản phẩm mới</h2>
        <div class="list-product-subtitle">
            <p>Danh sách sản phẩm</p>
        </div>
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Content/Img/op.jpg" alt="IP13">
                        <div class="card-body">
                            <h5 class="card-title">Ốp lưng điện thoại</h5>
                            <p class="card-text">Có đủ các loại</p>
                            <a href="#" id="text1" class="btn btn-primary" onmouseover="mOver(this)" onmouseout="mOut(this)">22.000$</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Content/Img/sac.jpg" alt="SS21U">
                        <div class="card-body">
                            <h5 class="card-title">Sạc dự phòng</h5>
                            <p class="card-text">Trâu, sang trọng</p>
                            <a href="#" id="text2" class="btn btn-primary" onmouseover="mOver(this)" onmouseout="mOut(this)">22.000$</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Content/Img/tainghe.png" alt="XI4s">
                        <div class="card-body">
                            <h5 class="card-title">Tai nghe</h5>
                            <p class="card-text">Có cả không dây lẫn có dây</p>
                            <a href="#" id="text3" class="btn btn-primary" onmouseover="mOver(this)" onmouseout="mOut(this)">22.000$</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                        <img class="card-img-top" src="~/Content/Img/Sticker.jpg" style="width:250px; height:260px" alt="Nguoiyeu">
                        <div class="card-body">
                            <h5 class="card-title">Sticker</h5>
                            <p class="card-text">Quá là đẹp luôn</p>
                            <a href="#" id="text4" class="btn btn-primary" onmouseover="mOver(this)" onmouseout="mOut(this)">22.000$</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end list product -->
